@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: var(--app-dark-bg);
    overflow: hidden;
    position: relative;
    background-image: url(../img/future.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
}

main {
    font-family: 'Major Mono Display', monospace;
}

.center {
    height: 40rem;
    display: grid;   
    align-items: center;
}

h1 {
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 1.5;
    line-height: 7rem;
    color:#0051f4;
}

.title-container {
    width: 100%;
    height: 7rem;
}

.tracker {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    line-height: 4rem;
}

span.timer {
    font-size: 26px;
    color: #fff;
    margin-left: 5px;
    min-width: 80px;
    display: inline-block;
}

h2 {
    color: #fff;
    font-size: 26px;
    width: 50%;
}

h3 {
    color: #fff;
    font-size: 24px;
    width: 50%;
}

input[type="text"] {
    font-size: 1.8rem;
    width: 20rem;
    height: 5rem;
    border-radius: 4px;
    background-color:#171A22;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

input.start {
    width: 160px;
    height: 60px;
    font-size: 26px;
    border-radius: 6px;
    margin-top: 40px;
    color: #fff;
    background-color: #003298;
    font-family: 'Major Mono Display', monospace;
}

.random-words {
    font-size: 6rem;
    line-height: 9rem;
    color: #0051f4;
    font-family: 'Major Mono Display', monospace;
}

.word-generator {
    width: 100%;
    height: 35rem;
    padding: 20px;
}

.word-container {
    margin-top: 70px;
    margin-bottom: 50px;
    height: 9rem;
}

span.words-typed {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
}

input.start:hover {
    cursor: pointer;
    background-color: #001f5d;
    transition: ease-in-out;
}

/***    Animation I found online. Not mine!     ***/

.hero {
    height: 100vh;
    overflow: hidden;
}
      
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
    .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
     animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
      
@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}
      
@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}